@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Medium.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("/fonts/PPEditorialNew-Ultralight.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("/fonts/PPEditorialNew-UltralightItalic.woff2");
  font-weight: normal;
  font-style: italic;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
  --font-sans: "PP Neue Montreal";
  --font-serif: "PP Editorial New";
}

html {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

* {
  scroll-behavior: smooth;
}

.header {
  background: linear-gradient(
    to bottom,
    rgba(var(--background), 1) 0%,
    rgba(var(--background), 0.987) 5.6%,
    rgba(var(--background), 0.951) 11.7%,
    rgba(var(--background), 0.896) 18.2%,
    rgba(var(--background), 0.825) 24.9%,
    rgba(var(--background), 0.741) 31.9%,
    rgba(var(--background), 0.648) 39.1%,
    rgba(var(--background), 0.55) 46.4%,
    rgba(var(--background), 0.45) 53.6%,
    rgba(var(--background), 0.352) 60.9%,
    rgba(var(--background), 0.259) 68.1%,
    rgba(var(--background), 0.175) 75.1%,
    rgba(var(--background), 0.104) 81.8%,
    rgba(var(--background), 0.049) 88.3%,
    rgba(var(--background), 0.013) 94.4%,
    rgba(var(--background), 0) 100%
  );
}

.blur {
  backdrop-filter: blur(15px);
  mask-image: linear-gradient(black 30%, transparent);
}

.link {
  border-bottom-width: 1px;
  transition-duration: 400ms;
  line-height: 1.2;
  
  &:hover {
    border-color: rgba(var(--foreground), 0.5);
  }
}

.big-input {
  padding: 12px 15px;
  background: rgba(var(--foreground), 0.05);
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 16px;
  background: rgb(var(--foreground));
  color: rgb(var(--background));
  cursor: pointer;
  transition: .3s;
  backdrop-filter: blur(5px);
  border-radius: 0.25rem;
  
  &:hover {
    background: rgba(var(--foreground), 0.8);
  }
}

.fade-in {
  animation: 700ms fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.spinner {
  animation: spin 1s linear infinite;
  height: 16px;
  width: 16px;
  border: 2px solid rgba(var(--background), 0.1);
  border-bottom: 2px solid rgba(var(--background), 0.5);
  border-radius: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}

.painting-card:hover img {
  filter: brightness(0.5) saturate(0);
}

.painting-card:hover .text {
  opacity: 1;
}

.backdrop-blur {
  backdrop-filter: blur(1rem);
}

button:disabled {
  opacity: 0.25;
  cursor: default;
}

.painting-main {
  max-height: calc(100vh - 370px);
}

@media (min-width: 768px ) {
  .painting-main {
    max-height: calc(100vh - 100px);
  }
}
